#appointment {
    .container {
        display: grid;
        grid-template-columns: 47% 47%;
        gap: 6%;

        .info {
            p {
                margin: 8px 0 128px;
            }

            article {
                display: flex;
                gap: 24px;
                margin-bottom: 24px;

                small {
                    margin-top: 6.4px;
                    display: block;
                }

                .info__icon {
                    background: $secondary-color;
                    color: $white-color;
                    padding: 12.8px;
                    height: fit-content;
                    border-radius: 50%;
                    font-size: 24px;
                }
            }
        }


        form {
            display: flex;
            flex-direction: column;
            gap: 22.4px;

            .form__group {
                label {
                    font-size: 13.6px;
                    margin-bottom: 6.4px;
                    display: inline-block;
                    font-weight: 600;
                }

                input, textarea, select {
                    background: $white-color;
                    padding: 13.6px;
                    display: block;
                    width: 100%;
                    border-radius: 6.4px;
                    resize: none;
                    appearance: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #appointment {
        .container {
            grid-template-columns: 1fr;
            gap: 32px;

            .info {
                h2, 
                p {
                    text-align: center;
                }
            }
        }
    }
}

