#awards {
    h2 {
        font-weight: 400;
        font-size: 40px;
    }
    padding: 32px;
    ::-webkit-scrollbar {
        display: none;
    }

    .slider-wrapper {
        position: relative;
        max-width: 768px;
        margin: 0 auto;

        .slider {
            display: flex;
            aspect-ratio: 16/9;
            overflow: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            box-shadow: 0 24px 48px -12px;
            border-radius: 8px;

            img {
                flex: 1 0 100%;
                scroll-snap-align: start;
                object-fit: cover;
            }
        }
        
        .slider-nav {
            display: flex;
            column-gap: 16px;
            position: absolute;
            bottom: 32px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            a {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $primary-color;       
            }
        }
    }  
}