#testimonials {
    h2 {
        font-weight: 400;
        font-size: 40px;
    }
}

.swiper {
    width: $container-lg;

    .swiper-wrapper {
        margin-bottom: 64px;
        
        .swiper-slide {
            @include gradientBackgraound;
            padding: 24px 32px;
            border-radius: 16px;
            cursor: default;
            font-size: 14.4px;

            
            p {
                margin-bottom: 24px;

            }

            .client {
                display: flex;
                align-items: center;
                gap: 16px;


                
                .avatar {
                    width: 40px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
                    
                }
            }
        }
    }
    .swiper-pagination-bullet {
        background: $primary-color;
    }
}

@media screen and (max-width: 600px) {
    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                padding: 24px;
            }
        }
    }
}